# Ignore everything in the root
/*
!.gitignore

!/[Aa]ssets/
/[Aa]ssets/*
!/[Aa]ssets/Wayway/
/[Aa]ssets/Wayway/*
!/[Aa]ssets/Wayway/Engine/
/[Aa]ssets/Wayway/Engine/*
!/[Aa]ssets/Wayway/Engine/Events/